<div class="page-container">
  <div id="information">Information</div>
  <div class="form-container">
    <form class="form-user-profile">
        <table>
          <tr>
            <th><div id="title">First name</div></th>
            <th><input type="text" id="fName" placeholder="First Name" required autofocus></th>
          </tr>
          <tr>
            <th><div id="title">Last name</div></th>
            <th><input type="text" id="lName" placeholder="Last Name" required><br></th>
          </tr>
          <tr>
              <th><div id="title">Nickname</div></th>
              <th><input type="text" id="nName" placeholder="Nickname" required><br></th>
          </tr>
          <tr>
              <th><div id="title">Username</div></th>
              <input type="text" id="uName" placeholder="Username" required><br>
          </tr>
          <tr>
              <th><div id="title">Email</div></th>
              <th><input type="email" id="email" placeholder="Email" required><br></th>
          </tr>
          <tr>
              <th><div id="title">Initials</div></th>
              <th><input type="text" id="initials" placeholder="Initials" required><br></th>
          </tr>
          <tr>
              <th><div id="title">Phone</div></th>
              <th><input type="text" id="phone" placeholder="Phone" required><br></th>
          </tr>
          <tr>
              <th><div id="title">Password</div></th>
              <th><input type="password" id="password" placeholder="Password" required><br></th>
          </tr>
          <tr>
            <th><button type="button" autofocus id="editButton">Edit</button><th>
            <th><button type="button" disabled id="saveButton">Save</button><th>
          </tr>
        </table>
    </form>
  </div>
</div>