<div class="page-container">
  <div class="form-container">
    <form class="form-user-profile">
        <input type="text" class="form-control" id="fName" placeholder="First Name" required autofocus>
        <input type="text" class="form-control" id="lName" placeholder="Last Name" required>
        <input type="text" class="form-control" id="nName" placeholder="Nickname" required>
        <input type="text" class="form-control" id="uName" placeholder="Username" required>
        <input type="email" class="form-control" id="email" placeholder="Email" required>
        <input type="text" class="form-control" id="initials" placeholder="Initials" required>
        <input type="text" class="form-control" id="phone" placeholder="Phone" required>
        <input type="password" class="form-control" id="password" placeholder="Password" required>
    </form>>
  </div>
</div>