<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
<div class="container w-100">
  <div class="w-100 group-profile align-items-center">
    <img src="https://image.freepik.com/free-icon/group_318-27951.jpg" class="mx-auto d-block group-photo">
    <h1 class="text-center group-name">{{ firstName + ' ' + lastName }}</h1>
  </div>

  <ngb-tabset>
    <ngb-tab title="Basic Info">
      <ng-template ngbTabContent>
        <div class="row info-row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <form>
                      <div class="form-group row">
                        <label for="username" class="col-3 col-form-label">
                          <p class="data-label">User Name</p>
                        </label>
                        <div class="col-8">
                          <input name="username" [(ngModel)]="username" placeholder="Username" class="form-control here"
                            [class.user-data]="!isEditProfileEnabled" required="required" type="text" [disabled]="!isEditProfileEnabled">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                          <p class="data-label">First Name</p>
                        </label>
                        <div class="col-8">
                          <input name="firstName" [(ngModel)]="firstName" placeholder="First Name" class="form-control here"
                            [class.user-data]="!isEditProfileEnabled" type="text" [disabled]="!isEditProfileEnabled">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="lastname" class="col-3 col-form-label">
                          <p class="data-label">Last Name</p>
                        </label>
                        <div class="col-8">
                          <input name="lastName" [(ngModel)]="lastName" placeholder="Last Name" class="form-control here"
                            [class.user-data]="!isEditProfileEnabled" type="text" [disabled]="!isEditProfileEnabled">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="initials" class="col-3 col-form-label">
                            <p class="data-label">Initials</p>
                          </label>
                          <div class="col-8">
                            <input name="initials" [(ngModel)]="initials" placeholder="Initials" class="form-control here"
                              [class.user-data]="!isEditProfileEnabled" type="text" disabled>
                          </div>
                        </div>
                      <div class="form-group row">
                        <label for="email" class="col-3 col-form-label">
                          <p class="data-label">Email</p>
                        </label>
                        <div class="col-8">
                          <input name="email" [(ngModel)]="email" placeholder="Email" class="form-control here"
                            [class.user-data]="!isEditProfileEnabled" required="required" type="text" disabled>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="newpass" class="col-3 col-form-label">
                          <p class="data-label">Password</p>
                        </label>
                        <div class="col-8">
                          <input name="password" [(ngModel)]="password" placeholder="Password" class="form-control here"
                          [class.user-data]="!isEditProfileEnabled" type="text" disabled>
                        </div>
                      </div>
                      <div class="form-group row btns-row justify-content-end">
                        <div class="col-2 cancel-btn" *ngIf="isEditProfileEnabled">
                          <button class="btn btn-danger" (click)="cancelButtonClick()">Cancel</button>
                        </div>
                        <div class="col-2">
                          <button class="btn btn-success" (click)="editProfileClick()">{{ editButtonText }}</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>