.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.group-photo{
    width: 150px;
    height: auto;
}

.group-profile {
    padding: 10px;
    height: auto;
    margin: 0;
}

.info-field {
    display: inline-block;
}

.info-row {
    width: 100%;
    margin: 0;
    text-align: center;
}

.card {
    border-color: transparent;
}

.user-data {
    border: none;
    background: transparent;
    color: #000;
    border-bottom: 1px solid black;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

.data-label {
    float: right;
    margin: 0;
    padding: 0;
}

.btns-row {
    padding-right: 60px;
}

.cancel-btn {
    padding-left: 30px;
}