.dashboard-container {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.group-info {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.group-info * {
  display: inline;
  padding-right: 30px;
  font-size: 20px;
}

.dashboard {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.table {
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;
  margin-right: 20px;
  width: 250px;
  background-color: #e2e4e6;
}

.table-name {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-container {
  list-style: none;
  min-height: 15px;
  margin-bottom: 0;
  padding: 0;
}

.task {
  background-color: white;
  border-radius: 5px;
  min-height: 45px;
  padding-left: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 7px;
}

.task-name {
  margin: 0;
  text-overflow: clip;
  display: block;
  width: 100%;
}

.task-input {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 0;
}

.add-task-btn {
  background-color: #007bff;
  border-color: transparent;
  min-height: 30px;
  padding: 0;
}

.add-table-btn {
  border-color: transparent;
  background-color: #007bff;
}

.dropdown-button {
  height: 2rem;
  font-size: 2rem;
  padding: 0;
  margin-right: 8px;
  background-color: transparent;
  color: #007bff;
  border-color: transparent;
}


.dropdown-button:hover {
  background-color: transparent;
  color: white;
}

.dropdown-button:active {
  box-shadow: none;
  color: #007bff;
  background-color: transparent;
  border-color: transparent;
}

.dropdown-button:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}