.dashboard-container {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.group-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.group-info * {
  display: inline;
  padding-right: 30px;
  font-size: 20px;
}

.dashboard {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.table {
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;
  margin-right: 20px;
  width: 250px;
  background-color: #e2e4e6;
}

.table-name {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-container {
  list-style: none;
  min-height: 15px;
  margin-bottom: 0;
  padding: 0;
}

.task {
  background-color: white;
  border-radius: 5px;
  min-height: 45px;
  padding-left: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 7px;
}

.task-name {
  margin: 0;
  text-overflow: clip;
  display: block;
  width: 100%;
}

.task-input {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 0;
}

.add-task-btn {
  min-height: 30px;
  padding: 0;
}

.dropdown-button {
  height: 2rem;
  font-size: 2rem;
  padding: 0;
  margin-right: 8px;
  background-color: transparent;
  color: #5a6268;
  border-color: transparent;
}

.dropdown-button:hover {
  background-color: transparent;
  color: white;
}

.dropdown-button:active {
  box-shadow: none;
  color: #5a6268;
  background-color: transparent;
  border-color: transparent;
}

.dropdown-button:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}