<div class="page-container">
  <div class="form-container">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal form-title">Welcome</h1>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Username" required
        autofocus>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password"
        required>
      <button class="btn btn-lg btn-primary btn-block submit-btn" type="submit" (click)="loginClick()">Sign in</button>
      <p>Do not have an account? <a href="" routerLink="/userRegistration">register</a></p>
    </form>
  </div>
</div>