<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="page-container">
  <div class="w3-sidebar w3-bar-block" style="width:20%"> 
    <a href="#" class="w3-bar-item w3-button">看板</a>
    <a href="#" class="w3-bar-item w3-button">首頁</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
  </div>
  
  <!-- Page Content -->

  <div style="margin-left:20%">
     
    <div class="w3-container">
      <h3>Personal Board</h3>
      <div style="display: inline-block;" *ngFor="let personalGroup of personalGroups;">
        <button class="button group-board-btn btn btn-primary">{{ personalGroup.name }}</button>
      </div>
      <button class="button personal-board-btn btn btn-secondary" (click)="open(content)">New Board</button>
      <pre>{{closeResult}}</pre>
    </div>

    <div id="interval"></div>

    <div class="w3-container">
      <h3>Group Board</h3>
      <button class="button group-board-btn btn btn-primary">Group1</button>
      <button class="button group-board-btn btn btn-success">Group2</button>
      <button class="button group-board-btn btn btn-secondary">New Board</button>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Board</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <form class="form-group">
          <input type="text" id="newBoardName" class="form-control" name="newBoardName" [(ngModel)] ="newBoardName"  placeholder="Add New Board Title" required autofocus>
        </form>
        <!-- dropdown list -->
        <!-- Choose a team -->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownTeam" ngbDropdownToggle>Choose a team</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Team1</button>
                <button class="dropdown-item">Team2</button>
                <button class="dropdown-item">Team3</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- Choose authority -->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownAuthority" ngbDropdownToggle>Choose authority</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="privateBtn()">Private</button>
                <button class="dropdown-item">Public</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createPersonalBoardClick(index)">Create</button>
    </div>
</ng-template>
