<div class="page-container">
  <div class="form-container">
    <form class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal form-title">Create an Account</h1>
      <input type="text" class="form-control" placeholder="First Name" required autofocus>
      <input type="text" class="form-control" placeholder="Last Name" required>
      <input type="text" class="form-control" placeholder="Username" required>
      <input type="email" class="form-control" placeholder="Email" required>
      <input type="password" class="form-control" placeholder="Password" required>
      <input type="password" class="form-control" placeholder="Re-enter Password" required>
      <button class="btn btn-lg btn-primary btn-block submit-btn" type="submit">Sign Up</button>
      <p>Already have an account? <a href="" routerLink="">login</a></p>
    </form>
  </div>
</div>